* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-size: 14px;
    font-family: sans-serif;
}

.bgi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url("https://account.my.games/hotbox/gem_static/account/release/b7b590d82bd6f91ece4aefbe15f6e24a.jpg");
}

.container {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-page__form {
    margin: 60px auto;
    max-width: 400px;
}
